// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn {
  padding: 1rem 2rem;
  border-radius: 0;
  font-family: 'Montserrat';
  letter-spacing: 1px;
  &--purple {
    background-color: $purple;
    color: white;
  }
}
