/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 100% / 1.4 $text-font-stack;
}

/**
* Font weight for headings
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .font-weight-bold;
  font-family: $titles-font-stack;
}

.text-underlined {
  border-bottom: 3px $brand-color solid;
  padding-bottom: 3px;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }

  &--blue {
    border-bottom-color: $light-sky-blue;
  }
  &--green {
    border-bottom-color: $pale-green;
  }
  &--pink {
    border-bottom-color: $pale-magenta;
  }
}
